<a href="https://colab.research.google.com/github/himanshu-0611/DSA-Bootcamp-Assignment_Himanshu-Agarkar/blob/master/Zenatix_Solutions_%7C_Data_Analyst_%7C_Gurgaon_Hotel_ACs_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Zenatix Solutions | Gurgaon Hotel ACs Case Study**

## **Author: Himanshu Agarkar**

### *Domain: Data Analysis*

In [8]:
#importing requited libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

#### **Step 1: Reading the data from source**

In [9]:
#mounting drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
#reading the data from csv file

path = "/content/drive/MyDrive/AC_Data.csv"
df = pd.read_csv(path)

#dataset is now stored in pandas dataframe

df.describe

<bound method NDFrame.describe of                          0      AC 1      AC 2  ...     AC 16     AC 17     AC 18
0      2019-08-01 00:00:00  7.518632  8.788315  ...  4.113460  3.305072  6.735981
1      2019-08-01 00:01:00       NaN       NaN  ...       NaN       NaN       NaN
2      2019-08-01 00:02:00  7.426114  8.940615  ...  3.986483  3.220588  6.379500
3      2019-08-01 00:03:00       NaN       NaN  ...       NaN       NaN       NaN
4      2019-08-01 00:04:00  7.052986  9.161103  ...  3.797881  3.131560  6.363475
...                    ...       ...       ...  ...       ...       ...       ...
87835  2019-09-30 23:55:00  0.000000  6.122385  ...  1.854352  3.027539  7.259989
87836  2019-09-30 23:56:00       NaN       NaN  ...       NaN       NaN       NaN
87837  2019-09-30 23:57:00  1.209176  6.152532  ...  1.870886  2.991946  7.134647
87838  2019-09-30 23:58:00       NaN       NaN  ...       NaN       NaN       NaN
87839  2019-09-30 23:59:00  1.430442  6.078281  ...  1.862166  3.009434  7.179719

[87840 rows x 19 columns]>

In [14]:
#

df.size

1668960

In [13]:
df.shape

(87840, 19)

In [ ]:
df